/**
 * CONTENTS
 *
 * SETTINGS
 * Variables...............Globally-available variables
 *
 * BASE
 * Base....................Basic reset
 * Typography
 *
 * Common
 * Header
 *
 * COMPONENTS
 * Create List
 * View List
 * 
 *
 * ANIMATIONS
 */

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
  --main-bg-color: #f8f8ff;
  --primary: #b09eff;
  --secondary: #f6ff9e;
  --support: #e6e0ff;

  --primary-font-color: #636363;
  --sub-font-color: #c3c3c3;
  --active-font-color: #4d4d4d;
}

/*------------------------------------*\
  #BASE
\*------------------------------------*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

body {
  margin: 0;
  color: var(--primary-font-color);
}

body,
button,
input,
select,
textarea {
  font-family: 'Lato', sans-serif;

  font-size: 18px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
  max-width: 34em;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

@media screen and (min-width: 27em) {
}
@media screen and (min-width: 60em) {
  h1 {
    font-size: 3.375em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }
}

/*------------------------------------*\
  #COMMON
\*------------------------------------*/
.dinner-list {
  display: flex;
  flex-direction: column;
  height: calc(90vh - 4em);
  width: 95%;
  margin: 2em auto;
  animation: slide-in-l 0.3s forwards;
}

.dinner-list__header {
  margin: 0.5em;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/
.header {
  height: 10vh;
  padding: 0.6em 0.5em;
}

.header > .logo {
  color: var(--primary);
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.header > nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

.header > nav > ul > li {
  margin-right: 0.2em;
}

.router-link-container {
  position: relative;
  z-index: 0 !important;
}

.router-link {
  color: var(--primary-font-color);
  display: inline-block;
  z-index: 1;
  background-color: none;
}

.router-link-active {
  color: var(--active-font-color);
  font-weight: bold;
}

.router-link-active::before {
  background-color: var(--secondary);
  content: '';
  display: inline-block;
  position: absolute;
  top: 11px;
  left: -5px;
  width: 85%;
  height: 20px;
  z-index: -1;
  transition: all 0.3 ease;
}

/*------------------------------------*\
  #CREATE LIST
\*------------------------------------*/
.dinner-list__create {
  display: flex;
  flex-direction: column;
}

.dinner-list__create-week {
}

.dish-input {
  height: 40px;
  padding: 0.5em;
  text-align: center;
  background-color: var(--main-bg-color);
  border: 1px solid var(--primary);
  border-radius: 3px 0px 0px 3px;
}

.add-dish-btn {
  height: 40px;
  background-color: var(--primary);
  border: none;
  border-radius: 0px 3px 3px 0px;
  color: white;
  margin-left: -3px;
}

.week-input {
  height: 40px;
  width: 40px;
  padding: 0.5em;
  text-align: center;
  background-color: var(--main-bg-color);
  border: 1px solid var(--primary);
  border-radius: 3px 0px 0px 3px;
}

.set-week-btn {
  height: 40px;
  background-color: var(--primary);
  border: none;
  border-radius: 0px 3px 3px 0px;
  color: white;
  margin-left: -3px;
}

.new-item {
  margin: 0.5em;
  padding: 0.1em;
  animation: fade-in 0.3s forwards;
}

.new-item__day {
  color: var(--primary);
  text-transform: capitalize;
}

/*------------------------------------*\
  #VIEW LIST
\*------------------------------------*/

.dish-list {
}

.dish-list__item {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0.5em;
  padding: 1em;
  padding-left: 0;
  border-radius: 8px;
  box-shadow: 2px 2px 13px -5px rgba(0, 0, 0, 0.75);
}

.item__day {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 0.8rem;
  margin-right: 1em;
  color: var(--sub-font-color);
}

/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/

@keyframes slide-in-l {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-in {
  0% {
    transform: rotate(-5deg);
    opacity: 0;
  }
  40% {
    transform: rotate(5deg);
    opacity: 0.6;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
